
.header {
  width: 100%;
  padding: 2%;
  background-color: dimgray;
  color: white;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(108, 117, 125);
}

.main .main__panel--left {
  flex: 0.7;
  height: inherit;
}
.main .main__panel--right {
  flex: 0.3;
  height: inherit;
}

.prompt-container {
  margin: 5.5rem;
  margin-right: 3rem;
  color: #f7f7f7;
  text-align: justify;
}

.editor-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  background-color: #8d9ca9;
  height: 550px;
  padding: 0.2rem;
  margin: 5.5rem;
  border-radius: .5rem;
  box-shadow: inset 0px -2px 20px 11px rgba(0,0,0,.2)
}

.editor-title {
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  margin-bottom: 0;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.CodeMirror {
  height: 100% !important;
}

.CodeMirror-fullscreen {
  opacity: 0.9;
}

.btn {
  display: flex;
  border-radius: .5em;
}

.btn .btn-info  {
  position: absolute;
  margin-left: 1rem;
  width: 75px;
  height: 40px;
}

.btn .btn-info #icon {
  margin: auto;
}

.btn .btn-info #status {
  margin: auto;
  padding: 0.1rem;
}

.btn .btn-warning  {
  position: relative;
  margin: auto;
  width: 75px;
  height: 40px;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
    
.mrgnbtm {
  margin-top: 20px;
}
